body {
    margin-top: 2%;
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tombol {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}