html {
    scroll-behavior: smooth;
}

body {
    margin-top: 2%;
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: georgia;
    color: rgb(128, 77, 77);
    font-size: 40px;
}

#batas {
    width: 400px;
    height: 300px;
    border: 3px solid #ddd;
    padding: 2%;
}

.form {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tombol {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}